

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    padding-block: 20px;
    box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05);
    height: 65px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 4;
  }
  
  .header.active { height: 330px; }
  
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-toggle-btn { font-size: 25px; }
  
  .navbar {
    position: absolute;
    width: 100%;
    top: 64px;
    left: 0;
    padding-inline: 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  
  .header.active .navbar {
    visibility: visible;
    opacity: 1;
  }
  
  .navbar-link,
  .header-action-link {
    color: var(--cool-gray);
    font-size: var(--fs-6);
    font-family: var(--ff-mulish);
    padding-block: 8px;
  }
  
